# AI
langchain>=0.3.0
langgraph
langchain-tavily
langchain-google-genai
google-generativeai

# Web scraping
tavily-python
beautifulsoup4
requests

# Database
psycopg[binary]

# Environment variables
pytz
python-dotenv

# Bot
python-telegram-bot[job-queue]

# Database Persistence
langgraph-checkpoint-postgres
psycopg-pool
