# AI
langchain>=0.3.0
langgraph
langchain-tavily
langchain-google-genai
google-generativeai

# Web scraping
tavily-python
beautifulsoup4
requests

# Database
psycopg[binary]

# Environment variables
python-dotenv

# Bot
python-telegram-bot